page-event {
    .pad-left-0 {
        padding-left: 0px;
         }
     .txt-color-light{
         color: #b6b8b3;
     }
       .bg-color{
           background: #f1f1f1;
       }
     .icon-noty-circle{
        color: white;
        position: absolute;
        left: 14px;
        top: 15px;
      
     }
     .circle {
        margin-top: 5px;
        width: 40px;
        height: 40px;
        background: #32db64;
        border-radius: 50px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
     }


    
 .item-md-light, .item-divider-md-light{
    background-color: #f4f4f4 !important;
 }

 .item-md{
    background-color: #f4f4f4 !important;  
    padding-left: 0px; 
 }

 .label-md{
    margin: 0px !important;
 }

 .item-divider .label-md{
     text-align: center;
     color: #7e888a;
     font-weight: 600;
 }

 ion-card img{
    width: 100%;
    height: 225px;
    margin-bottom: 15px;
 }

 ion-icon {
    display: inline-block;
    font-size: 1.4em !important;
}

.card-header-md {
    padding: 0px !important;
}

.card-header label{
    font-size: 15px !important;
}
 
}
