
<ion-content padding>

    <ion-item-group *ngFor="let group of eventGroup">
        <ion-item>
            <ion-item-divider>{{ group.date | date:'dd/MM/yyyy' }}</ion-item-divider>

            <ion-card *ngFor="let event of group.events" (click)="goToEventDetail(event)">
                <ion-card-header >
                    <ion-grid>
                        <ion-row>
                            <ion-col col-9>
                                <ion-icon name="camera" class="icon-js-custom"></ion-icon>
                                <label>{{ event.Title }}</label>
                            </ion-col>
                            <ion-col col-3>
                                <p class="tright">{{event.CreatedDate | date:'shortTime'}}</p>
                            </ion-col>

                        </ion-row>
                    </ion-grid>
                </ion-card-header>
                <ion-card-content>
                            <p *ngIf="event.Notes">
                                    {{event.Notes}}
                                </p>
               
                </ion-card-content>
                <img *ngIf="event.ImageURL" [src]="event.ImageURL">
            </ion-card>
        </ion-item>
    </ion-item-group>
</ion-content>