page-parent-menu {
    ion-icon {
        font-size: 1.5em;
        margin-right: 10px;
        color: #0092b5;
         
   }
   .item-checkbox-img {
    vertical-align: middle;
    position: absolute;
    top: 0px;
    right: 15px;
    height:100%;
  }
  .parent-menu
  {font-weight: 600;}
  .list-header-md{   
       background: #141414;
    color: #ffffff;}

    .label-md {
        font-size: 16px !important;    
    }
}
