<ion-header>
    <ion-navbar color="secondary">
        <ion-toolbar>
            <ion-title>
                <span>Assignment Description </span>
            </ion-title>
            <ion-buttons start>
                <button ion-button (click)="dismiss()">
                    <span ion-text color="primary" showWhen="ios">Cancel</span>
                    <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
                </button>
            </ion-buttons>
        </ion-toolbar>
    </ion-navbar>
</ion-header>


<ion-content padding class="bg-color">

    <ion-item-group *ngFor="let group of assignmentGroup">
        <ion-item>
            <ion-item-divider>{{ group.date | date:'dd/MM/yyyy' }}</ion-item-divider>

            <ion-card *ngFor="let assignment of group.assignments">
                <ion-card-header class="custom-padding-5">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-9>
                                <ion-icon name="ios-book" class="icon-js-custom"></ion-icon>
                                <label class="activty-text-header">{{ assignment.Title }}</label>
                            </ion-col>
                            <ion-col col-3>
                                <p class="tright">{{assignment.CreatedDate | date:'shortTime'}}
                                    <ion-icon *ngIf="assignment.Response" class="float-left color-green" name="done-all"></ion-icon>
                                </p>

                            </ion-col>

                        </ion-row>
                    </ion-grid>
                </ion-card-header>
                <ion-card-content>

                    <div class="assignment-content">
                        <img *ngIf="assignment.ImageURL" [src]="assignment.ImageURL" width="400px" height="150px">
                        <p *ngIf="assignment.Notes">
                            {{assignment.Notes}}
                        </p>
                        <h3 class="view-btn" (click)="goToAssigmentDetail(assignment)">View</h3>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-item-group>
</ion-content>