

<ion-content padding >

    <ion-item-group *ngFor="let group of assignmentGroup">
        <ion-item>
            <ion-item-divider>{{ group.date | date:'dd/MM/yyyy' }}</ion-item-divider>

            <ion-card *ngFor="let assignment of group.assignments" (click)="goToAssigmentDetail(assignment)">
                <ion-card-header>
                    <ion-grid>
                        <ion-row>
                            <ion-col col-9>
                                <ion-icon name="ios-book" class="icon-js-custom"></ion-icon>
                                <label >{{ assignment.Title }}</label>
                            </ion-col>
                            <ion-col col-3>
                                <p class="tright">{{assignment.CreatedDate | date:'shortTime'}}
                                    <ion-icon *ngIf="assignment.Response" class="float-left color-green" name="done-all"></ion-icon>
                                </p>

                            </ion-col>

                        </ion-row>
                    </ion-grid>
                </ion-card-header>
                <ion-card-content>
                            <p *ngIf="assignment.Notes">
                                    {{assignment.Notes}}
                                </p>
                </ion-card-content>
                <img *ngIf="assignment.ImageURL" [src]="assignment.ImageURL">
            </ion-card>
        </ion-item>
    </ion-item-group>
</ion-content>