page-activities {
    .pad-left-0 {
   padding-left: 0px;
    }
.txt-color-light{
    color: #b6b8b3;
}
.bg-image{
    background-image: url('../assets/imgs/Gradient-Phone-03.png');
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
  }
  .bg-color{
      background: #f1f1f1;
  }
    
   .circle {
    width: 30px;
    height: 30px;
    background: #0e0e0e;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
 }
 .icon-noty-circle{
    color: white;
    position: absolute;
    left: 10.5px;
    top: 9.5px;
    font-size: 1.5em;
 }


 .item-md-light, .item-divider-md-light{
    background-color: #f4f4f4 !important;
 }

 .item-md{
    background-color: #f4f4f4 !important;  
    padding-left: 0px; 
 }

 .item-md p{
     padding-top:6px; 
 }

 .label-md{
    margin: 0px !important;
 }

 .item-divider .label-md{
     text-align: center;
     color: #7e888a;
 }

 ion-card img{
    width: 100%;
    height: 225px;
 }

 ion-icon {
    display: inline-block;
    font-size: 1.4em !important;
}

.card-header-md {
    padding: 0px !important;
}

.card-header label{
    font-size: 15px !important;
}



 
 

}
