page-change-password {

    .bg-image{
        background-image: url('../assets/imgs/Gradient-Phone-03.png');
        background-repeat: repeat;
        background-position: center;
        background-size: contain;
      }

.aligncenter{
    text-align: -webkit-center;
}
.card-md{
    height: 80vh;
    overflow: scroll;
}

.border-Profile-grid{
    margin-top: 65px;
}

.flt-left{
    float: left;
}
.wd-50{
    width: 50%;
}
// .item-md .item-button{
//     padding: 0 0.6em;
//     height: 40px;
//     width: 100px;
//     font-size: 1.4rem;
// }
.ion-md-contact{
    margin-top: -81px;
    font-size: 10.2em!important;
}
ion-label{
    color: black!important;
    font-weight: 500!important;;
}

ion-input{
    border-bottom: 1px solid #000000;
}

.bg-color{
    background: #f1f1f1;
}


.item-md .item-button{
    background-color: #55acee;
}
.content-md {
    color: #55acee;
}
}
