page-myprofile {

.aligncenter{
    text-align: -webkit-center;
}
 

.flt-left{
    float: left;
}
.wd-50{
    width: 50%;
}


ion-label{
    color: #6c81f1!important;
    font-weight: 500!important;;
}

ion-input{
    border-bottom: 1px solid #000000;
}
.card-content-md{padding:0 !important;}
.card-md {
    box-shadow: none;
    margin:0 !important;
    -webkit-box-shadow:none;
}
 
}
