page-menu-teacher {
    ion-icon {
        font-size: 1.5em;
        margin-right: 10px;
        color: #ff8f00;
         
   }
   .item-checkbox-img {
    vertical-align: middle;
    position: absolute;
    top: 0px;
    right: 15px;
    height:100%;
  }
  .techer-menu
  {font-weight: 600;}
  .list-header-md{    background: #ef9d09;
    color: #ffffff;}
}
