page-parent-dashboard {
    
    .item-md.item-block .item-inner{
        padding-right: 0px !important;
    }
    .item-md ion-avatar[item-start]{
        margin: 0px 0px 0px 0; 
    }

  .parent-dashboard-header  .back-button{display: none !important;}
 
}
